.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  color: #fff;
  background-color: #101313;
  padding: 10px 100px;
  border-radius: 10px;
  margin: 20px;
}
.person{
  background-color: #12343d;
  color: #fff;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 10px;
}
.product{
  background-color: cornflowerblue;
  border: 3px solid maroon;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
}
.user{
  background-color: cornflowerblue;
  border: 3px solid maroon;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
}
.users{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-template-columns: subgrid;
}